/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fce9c1;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    max-width: 150px;
}

/* Título */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Formulário */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botão de envio */
form button {
    width: 100%;
    padding: 12px;
    background-color: #f7931e; /* mesmo tom da imagem */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
   background-color: #e67e00;
}
